terraform/secrets.auto.tfvars
terraform/.terraform*
# Terraform ignores
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Ansible ignores
ansible/.vault_pass

# Local files
.terraform/
.terraform.lock.hcl
*.log
ansible/ansible.cfg
